# Project name to separate multiple bitrixdock instances
COMPOSE_PROJECT_NAME=bitrixdock

# MySQL settings. Allowed value is mysql or percona.
DB_SERVER_TYPE=mysql
MYSQL_DATABASE=bitrix
MYSQL_USER=bitrix
MYSQL_PASSWORD=123
MYSQL_ROOT_PASSWORD=123

# Site path
SITE_PATH=/var/www/bitrix

